:root {
    --color-texto: #000000;
    --color-texto-menu-navegacion: #000000;
    --opacidad-hover--logo: 0.5;
    --opacidad-hover--enlaces-menu-navegacion: 0.5;
    --color-contraste: #DE2333;
    --color-textos-fondo-negro: #ffffff;
    --color-descripcion--apps: #F4F6F7;
    --color-enlace-actual: rgb(222, 35, 51);
    --color-enlace-footer: rgb(255, 255, 255);
    --color-hover-enlace-footer: rgb(222, 35, 51);
    --opacidad-logo-redes: 0.7;
    --color-enlace-texto: rgb(222, 35, 51);
    --color-hover-enlace-texto: rgb(0, 0, 0);
}

/*Quito los estilos por defecto**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;

}


/*inicio*/
body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    color: var(--color-texto);
    background-color: grey;
}


.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0 1rem 0;
}

.header__nav-item {
    color: #000000;
}

.header__titulo {
    font-size: 3.2rem;
}

.header__nav-item {
    font-size: 1.2rem;
    font-weight: 700;
}

.header__nav-lista {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

.header__titulo:hover {
    opacity: var(--opacidad-hover--logo);
}

.header__nav-item:hover {
    opacity: var(--opacidad-hover--enlaces-menu-navegacion);
}

@media(min-width: 768px) {
    .header__titulo {
        font-size: 3.6rem;
    }

    .header__nav-item {
        font-size: 1.4rem;
    }
}

@media(min-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        gap: 0;
        margin: 0 auto;
    }

    .header__nav-lista {
        flex-direction: row;
        gap: 1rem;
    }

    .section-info {
        /*Pruebas de centrado ... */
        display: flex;
        flex-direction: column;

        width: 80%;
        gap: 0;
        margin: 0 auto;
        /*Pruebas de centrado ... */

    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.2rem;
    background-color: #000000;
}

.footer__nav-legal__lista {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
}

.footer__nav-social__lista {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;

    img {
        width: 100%;
        height: 100%;
    }
}

.footer__nav-legal__item {
    color: var(--color-enlace-footer);
}

.footer__nav-legal__item:hover {
    color: var(--color-hover-enlace-footer);
}

.footer__copyright,
.footer__autor {
    color: var(--color-textos-fondo-negro);
}

.contenedor-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .footer {}
}

img {
    width: 85px;
}