:root {
    --color-texto: #000000;
    --color-texto-menu-navegacion: #000000;
    --opacidad-hover--logo: 0.5;
    --opacidad-hover--enlaces-menu-navegacion: 0.5;
    --color-contraste: #DE2333;
    --color-textos-fondo-negro: #ffffff;
    --color-descripcion--apps: #F4F6F7;
    --color-enlace-actual: rgb(222, 35, 51);
    --color-enlace-footer: rgb(255, 255, 255);
    --color-hover-enlace-footer: rgb(222, 35, 51);
    --opacidad-logo-redes: 0.7;
    --color-enlace-texto: rgb(222, 35, 51);
    --color-hover-enlacenav: #000000;
    --color-hover-enlace-texto: rgb(0, 0, 0);
}

q {
    quotes: "«" "»";

}

/*Quito los estilos por defecto**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;

}


/*inicio*/
body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    color: var(--color-texto);

}



.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0 0 0;
}

.header__nav {
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    background-color: var(--color-textos-fondo-negro);
    padding: 1rem 0 1rem 0;
}

.header__nav-item {
    color: #000000;
}

.header__titulo {
    font-size: 3.2rem;
}

.header__nav-item {
    font-size: 1.1rem;
    font-weight: 700;
}

.header__nav-lista {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

.header__titulo:hover {
    opacity: var(--opacidad-hover--logo);
}

.header__nav-item:hover {
    color: var(--color-hover-enlacenav);
    opacity: var(--opacidad-hover--enlaces-menu-navegacion);
}

#header__nav-item-activo {
    color: var(--color-enlace-actual);
}

#header__nav-item-activo:hover {
    color: var(--color-hover-enlacenav);
    opacity: var(--opacidad-hover--enlaces-menu-navegacion);

}




@media(min-width: 768px) {
    .header__titulo {
        font-size: 3.6rem;
    }

    .header__nav-item {
        font-size: 1.4rem;
    }
}

@media(min-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        gap: 0;
        margin: 0 auto;
    }



    .header__nav-lista {
        width: 70%;
        flex-direction: row;
        gap: 1rem;
        margin: 0 auto;
        justify-content: flex-start;
    }


}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 2.5rem 0;
    gap: 1.2rem;
    background-color: #000000;

}

.footer__nav-legal__lista {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
}

.footer__nav-social__lista {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;



}

.footer__nav-social__lista-img {
    width: 100%;
    height: 100%;
}

.footer__nav-legal__item {
    color: var(--color-enlace-footer);
}

.footer__nav-legal__item:hover {
    color: var(--color-hover-enlace-footer);
}

.footer__nav-social__logo:hover {
    opacity: var(--opacidad-logo-redes);


}

.footer__copyright,
.footer__autor {
    text-align: center;
    color: var(--color-textos-fondo-negro);
}

.contenedor-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 1024px) {

    .footer__nav-legal,
    .footer__nav-social,
    .contenedor-copyright {
        margin: 0 auto;
        width: 70%;
    }

    .footer__nav-legal__lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2.1rem;

    }

    .footer__nav-social__lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.1rem;
        margin-top: 0;
    }



    .footer__nav-legal__item:nth-last-child(-n+3) {
        list-style: disc;
    }

    .contenedor-copyright {
        display: flex;
        align-items: flex-start;
    }

}


/*Lema*/
.section-lema {
    padding: 4.3rem 2.4rem;
    background-image: url("../materiales3/img/bg-hero-home-m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.section-lema__descripcion {
    color: var(--color-textos-fondo-negro);
    width: 400px;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
}

@media(min-width: 768px) {
    .section-lema {
        padding: 4.3rem 3rem;
    }

    .section-lema__descripcion {
        width: 700px;
        font-size: 3.8rem;
    }
}

@media(min-width: 1024px) {
    .section-lema {
        padding: 4.8rem 3rem;
    }

    .section-lema__descripcion {
        width: 900px;
        font-size: 4rem;
        line-height: 3.8rem;
    }
}

/*info*/

.section-info {
    display: flex;
    padding: 0 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}



.section-info__h2 {
    width: 100%;
    text-align: center;
    padding: 1.8rem 0;
    font-size: 2rem;
}

.section-info__parrafo:last-of-type {
    margin-top: 0.8rem;
}


@media(min-width: 768px) {
    .section-info {
        padding: 0 2.5rem;
        font-size: 1.5rem;
        gap: 0;
        margin: 0 auto;
    }

    .section-info__h2 {
        font-size: 2.5rem;
    }

}

@media(min-width:1024px) {
    .section-info {
        width: 70%;
        padding: 0 1.5rem;
        font-size: 1.8rem;
    }

    .section-info__h2 {
        font-size: 2.5rem;
    }
}

/*articulos*/
.section-articulos {
    padding: 0 2.2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.section-articulos__articulo {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.section-articulos__articulo:last-of-type {
    margin-bottom: 3rem;

}

.section-articulos__titulo {
    padding: 1.8rem 0;
    font-size: 2rem;
    text-align: center;
}

.section-articulos__articulo__figure__img {
    width: 100%;
}

.section-articulos__articulo__figure__figcaption {
    margin-top: 1rem;
}

.section-articulos__articulo__titulo {
    color: var(--color-contraste);
    font-size: 1.6rem;
    line-height: 1.7rem;
}

.section-articulos__articulo__titulo:hover {
    color: var(--color-hover-enlace-texto);

}

.section-articulos__articulo__leermas {
    font-weight: 700;
    color: var(--color-enlace-texto);


}

.section-articulos__articulo-span {
    font-weight: 400;
}

.section-articulos__articulo__parrafo-info,
.section-articulos__articulo__leermas {
    font-size: 0.9rem;
}


.section-articulos__articulo__leermas:hover {
    color: var(--color-hover-enlace-texto);
}

@media(min-width:768px) {
    .section-articulos {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .section-articulos__titulo {
        grid-column: span 4;
    }

    .section-articulos__articulo__parrafo-info,
    .section-articulos__articulo__leermas {
        font-size: 1.2rem;
    }

    .section-articulos__articulo {
        margin-bottom: 3.5rem;
    }

    .section-articulos__articulo:last-of-type {
        margin-bottom: 3.5rem;
    }
}

@media(min-width:1024px) {
    .section-info {
        width: 50%;
    }

    .section-articulos {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

/*aplicaciones*/
.app-section {
    width: 95%;

    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 2rem 0;
}

.app-section__titulo {
    text-align: center;
}

.app-section__articulo {
    background-color: var(--color-descripcion--apps);
    padding: 20px;
    height: 230px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-section__articulo-enlace {
    color: var(--color-enlace-texto);
}

.app-section__articulo-parrafo a {
    color: var(--color-enlace-texto);
}

.app-section__articulo-enlace:hover,
.app-section__articulo-parrafo a:hover {
    color: var(--color-hover-enlace-texto);
}


@media(min-width:768px) {
    .app-section {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin: 0 auto;


    }

    .app-section__titulo {

        font-size: 2.2rem;
        grid-column: span 2;

    }

    .app-section__articulo:nth-child(odd) {
        justify-self: start;
    }

    .app-section__articulo:nth-child(even) {
        justify-self: end;
    }


}

@media(min-width:1024px) {
    .app-section {
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        margin: 0 auto;
        gap: 3rem;

    }

    .app-section__titulo {
        font-size: 2.2rem;
        grid-column: span 3;

    }

    .app-section__articulo:nth-child(3n+1) {

        justify-self: start;

    }

    .app-section__articulo:nth-child(3n+2) {
        justify-self: end;
    }

    .app-section__articulo:nth-child(3n+3) {
        justify-self: center;
    }
}

/*En el cine*/
.cine-section {
    width: 95%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 2rem 0;
}

.cine-section__articulo {
    background-color: var(--color-descripcion--apps);

}

.cine-section__articulo-iframe {
    width: 100%;
    border: none;
}

.cine-section__articulo-figcaption {
    padding: 1rem;
}

.cine-section__articulo-figcaption-h2 {
    font-size: 1rem;
    font-weight: 100;


}

.cine-section__articulo-figcaption-h2 cite {
    font-weight: 700;
}

.cine-section__titulo {
    font-size: 2rem;
}

.cine-section__titulo {
    text-align: center;
}

@media (min-width:768px) {
    .cine-section {
        width: 90%;

    }

    .cine-section__articulo-figcaption-h2 {
        font-size: 1.1rem;
    }

    .cine-section__titulo {
        font-size: 2.8rem;
        padding-bottom: 1rem;
    }

    .cine-section__articulo-iframe {
        height: 350px;
    }
}

@media (min-width:1024px) {
    .cine-section {
        width: 70%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }

    .cine-section__titulo {
        grid-column: span 2;
    }
}

/*despacho-42*/
.despacho__article {
    display: grid;
    width: 90%;
    gap: 1rem;
    margin: 0 auto;
}

.despacho__article-header {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.despacho__article-header__titulo {
    font-size: 1.7rem;
    line-height: 2rem;
    align-items: center;

}

.despacho__article-header__figure {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;


}

.despacho__article-header__figure>img {
    width: 100%;
}

.despacho__article-header__figcaption {
    font-size: 0.8rem;
}

.despacho__article-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.despacho__article-section hgroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.despacho__article-section-titulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.despacho__article-section-lista {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.despacho__article-section-lista-item {
    display: flex;
    gap: 1rem;
    flex-direction: column;

}


.despacho__article-section-lista-item-titulo {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.despacho__article-section-parrafo-lista-parrafo a {
    color: var(--color-enlace-texto);

}

.despacho__article-section-parrafo-lista-parrafo a:hover {
    color: var(--color-hover-enlace-texto);
}

.despacho__article-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.despacho__article-footer-info-img {
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
    border-radius: 15px;
}

.despacho__article-footer-parrafo {
    color: var(--color-contraste);
    font-size: 0.9rem;
    font-weight: 700;
    font-style: italic;
}

.despacho__article-footer-parrafo:hover {
    color: var(--color-hover-enlace-texto);
}

.despacho__article-footer-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--color-descripcion--apps);
}

.container-despacho__article-footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.despacho__article-footer-info-lista-item {
    color: var(--color-enlace-texto);
}

.despacho__article-footer-info-lista-item:hover {
    color: var(--color-hover-enlace-texto);
}

.despacho__article-footer-info-h3 {
    font-size: 1.3rem;
}

.despacho__formulario {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 0.9rem;
    padding: 1rem 0;

}

.despacho__formulario-titulo {
    font-size: 1.8rem;
}

.despacho__formulario-campos {
    font-size: 0.8rem;
}

.despacho__formulario-textarea {
    border: none;
    border-radius: 0;
    background-color: var(--color-descripcion--apps);
    width: 100%;
    height: 100px;
}

.despacho__formulario-input {
    border: none;
    border-radius: 0;
    background-color: var(--color-descripcion--apps);
    width: 100%;
    height: 1.5rem;
}

.despacho__formulario-label-enlace {
    color: var(--color-enlace-texto);
}

.despacho__formulario-label-enlace:hover {
    color: var(--color-hover-enlace-texto);
}

.despacho__formulario-boton {
    border: none;
    border-radius: 0;
    padding: 0.5rem;
    color: var(--color-textos-fondo-negro);
    background-color: var(--color-contraste);
    font-size: 0.7rem;
}

.despacho__aside {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.despacho__aside-article {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    gap: 0.5rem;
    border-bottom: dotted 1px rgb(164, 159, 159);
    padding: 0.5rem;
}

.despacho__aside__article-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.7rem;

}

.despacho__aside-img {
    border-radius: 1000px;
    width: 75px;
    height: 75px;
}

.despacho__breadcrumbs-lista {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0;
    gap: 0.5rem;
}

.despacho__breadcrumbs-enlace-activo {
    color: #DE2333;
}

@media(min-width:768px) {
    .despacho__article-header__titulo {
        font-size: 2.2rem;

    }

    .despacho__article-header__figcaption {
        font-size: 1.2rem;
    }

    .despacho__article-section-titulo {
        font-size: 1.9rem;

    }

    .despacho__article-section-lista-item-titulo {
        font-size: 1.8rem;

    }

    .despacho__article-footer-parrafo {

        font-size: 1.3rem;

    }

    .despacho__article-section-lista-parrafo {
        font-size: 1.3rem;

    }

    .despacho__aside {
        width: 75%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .despacho__article-footer-info {
        flex-direction: row;
        gap: 1rem;
    }

    .despacho__article-footer-info-img {
        width: 70px;
        height: 70px;
    }

}


@media(min-width:1024px) {
    .despacho__contenedor-grid {
        width: 70%;
        margin: 0 auto;
        display: grid;
        gap: 2rem;
        grid-template-columns: 65% 35%;
    }

    .despacho__article {
        width: 100%;

    }

    .despacho__aside {
        width: 100%;
        padding: 0;
    }

    .despacho__formulario {
        width: 100%;
    }

    .despacho__breadcrumbs {
        width: 70%;
        margin: 0 auto;
    }

    .despacho__breadcrumbs-lista {
        width: 100%;
    }
}