:root {
    --color-texto: #000000;
    --color-texto-menu-navegacion: #000000;
    --opacidad-hover--logo: 0.5;
    --opacidad-hover--enlaces-menu-navegacion: 0.5;
    --color-contraste: #DE2333;
    --color-textos-fondo-negro: #ffffff;
    --color-descripcion--apps: #F4F6F7;
    --color-enlace-actual: rgb(222, 35, 51);
    --color-enlace-footer: rgb(255, 255, 255);
    --color-hover-enlace-footer: rgb(222, 35, 51);
    --opacidad-logo-redes: 0.7;
    --color-enlace-texto: rgb(222, 35, 51);
    --color-hover-enlace-texto: rgb(0, 0, 0);
}

/*Quito los estilos por defecto**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1,
h2 {
    margin: 0;
    padding: 0;

}


/*inicio*/
body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    color: var(--color-texto);

}



.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0 1rem 0;
}

.header__nav-item {
    color: #000000;
}

.header__titulo {
    font-size: 3.2rem;
}

.header__nav-item {
    font-size: 1.1rem;
    font-weight: 700;
}

.header__nav-lista {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

.header__titulo:hover {
    opacity: var(--opacidad-hover--logo);
}

.header__nav-item:hover {
    opacity: var(--opacidad-hover--enlaces-menu-navegacion);
}

@media(min-width: 768px) {
    .header__titulo {
        font-size: 3.6rem;
    }

    .header__nav-item {
        font-size: 1.4rem;
    }
}

@media(min-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        gap: 0;
        margin: 0 auto;
    }

    .header__nav-lista {
        flex-direction: row;
        gap: 1rem;
    }


}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 2.5rem 0;
    gap: 1.2rem;
    background-color: #000000;
}

.footer__nav-legal__lista {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
}

.footer__nav-social__lista {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;


    img {
        width: 100%;
        height: 100%;
    }
}

.footer__nav-legal__item {
    color: var(--color-enlace-footer);
}

.footer__nav-legal__item:hover {
    color: var(--color-hover-enlace-footer);
}

.footer__nav-social__logo:hover {
    opacity: var(--opacidad-logo-redes);


}

.footer__copyright,
.footer__autor {
    text-align: center;
    color: var(--color-textos-fondo-negro);
}

.contenedor-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 1024px) {

    .footer__nav-legal,
    .footer__nav-social,
    .contenedor-copyright {
        margin: 0 auto;
        width: 70%;
    }

    .footer__nav-legal__lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2.1rem;

    }

    .footer__nav-social__lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.1rem;
        margin-top: 0;
    }



    .footer__nav-legal__item:nth-last-child(-n+3) {
        list-style: disc;
    }

    .contenedor-copyright {
        display: flex;
        align-items: flex-start;
    }

}


/*Lema*/
.section-lema {
    padding: 4.3rem 2.4rem;
    background-image: url("../materiales3/img/bg-hero-home-m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.section-lema__descripcion {
    color: var(--color-textos-fondo-negro);
    width: 400px;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
}

@media(min-width: 768px) {
    .section-lema {
        padding: 4.3rem 3rem;
    }

    .section-lema__descripcion {
        width: 700px;
        font-size: 3.8rem;
    }
}

@media(min-width: 1024px) {
    .section-lema {
        padding: 4.8rem 3rem;
    }

    .section-lema__descripcion {
        width: 900px;
        font-size: 4rem;
        line-height: 3.8rem;
    }
}

/*info*/

.section-info {
    display: flex;
    padding: 0 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}



.section-info__h2 {
    width: 100%;
    text-align: center;
    padding: 1.8rem 0;
    font-size: 2rem;
}

.section-info__parrafo:last-of-type {
    margin-top: 0.8rem;
}


@media(min-width: 768px) {
    .section-info {
        padding: 0 2.5rem;
        font-size: 1.5rem;
        gap: 0;
        margin: 0 auto;
    }

    .section-info__h2 {
        font-size: 2.5rem;
    }

}

@media(min-width:1024px) {
    .section-info {
        width: 70%;
        padding: 0 1.5rem;
        font-size: 1.8rem;
    }

    .section-info__h2 {
        font-size: 2.5rem;
    }
}

/*articulos*/
.section-articulos {
    padding: 0 2.2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.section-articulos__articulo {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.section-articulos__articulo:last-of-type {
    margin-bottom: 3rem;

}

.section-articulos__titulo {
    padding: 1.8rem 0;
    font-size: 2rem;
    text-align: center;
}

.section-articulos__articulo__figure__img {
    width: 100%;
}

.section-articulos__articulo__figure__figcaption {
    margin-top: 1rem;
}

.section-articulos__articulo__titulo {
    color: var(--color-contraste);
    font-size: 1.6rem;
    line-height: 1.7rem;
}

.section-articulos__articulo__titulo:hover {
    color: var(--color-hover-enlace-texto);

}

.section-articulos__articulo__leermas {
    font-weight: 700;
    color: var(--color-enlace-texto);

    span {
        font-weight: 400;
    }
}

.section-articulos__articulo__parrafo-info,
.section-articulos__articulo__leermas {
    font-size: 0.9rem;
}


.section-articulos__articulo__leermas:hover {
    color: var(--color-hover-enlace-texto);
}

@media(min-width:768px) {
    .section-articulos {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .section-articulos__titulo {
        grid-column: span 4;
    }

    .section-articulos__articulo__parrafo-info,
    .section-articulos__articulo__leermas {
        font-size: 1.2rem;
    }

    .section-articulos__articulo {
        margin-bottom: 3.5rem;
    }

    .section-articulos__articulo:last-of-type {
        margin-bottom: 3.5rem;
    }
}

@media(min-width:1024px) {
    .section-info {
        width: 50%;
    }

    .section-articulos {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

/*aplicaciones*/
.app-section {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    margin-bottom: 1rem;
}

.app-section_titulo {
    text-align: center;
}

.app-section__articulo {
    background-color: var(--color-descripcion--apps);
    padding: 20px;
    height: 230px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-section__articulo-enlace {
    color: var(--color-enlace-texto);
}

.app-section__articulo-parrafo a {
    color: var(--color-enlace-texto);
}

.app-section__articulo-enlace:hover,
.app-section__articulo-parrafo a:hover {
    color: var(--color-hover-enlace-texto);
}


@media(min-width:768px) {
    .app-section {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

    }

    .app-section_titulo {
        font-size: 2.2rem;
        grid-column: span 2;

    }

    .app-section__articulo:nth-child(odd) {
        justify-self: start;
    }

    .app-section__articulo:nth-child(even) {
        justify-self: end;
    }


}

@media(min-width:1024px) {
    .app-section {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;

    }

    .app-section_titulo {
        font-size: 2.2rem;
        grid-column: span 3;

    }

    .app-section__articulo:nth-child(3n+1) {

        justify-self: start;

    }

    .app-section__articulo:nth-child(3n+2) {
        justify-self: end;
    }

    .app-section__articulo:nth-child(3n+3) {
        justify-self: center;
    }


}