* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: 600;
    font-style: italic;
}

body {
    display: grid;
    grid-template-columns: 1fr;
}

/*index*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 120px;
}

header h1 {

    color: rgb(240, 93, 80);
    margin: 25px 25px;

}

header h1:hover {
    color: rgba(240, 93, 80, 0.5);
}

#header-index li {
    list-style: none;
}

#header-index ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}