* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.pieza-puzzle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200.16px;


}

#contenedor-piezas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;

}

#contenedor-puzzle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;

}

.square-puzzle,
.square-imagen {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200.16px;
    border: 1px solid red;
}

img {
    width: 120%;
    height: 100%;
}