* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pieza-puzzle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 60%;
    }
}

#contenedor-piezas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;

}

#contenedor-puzzle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;

}

.square {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 244.16px;
    border: 1px solid red;
}