/*Work Sans de Google Fonts (weight 400 y 700, normal y cursiva).*/
:root {
    --color-fondos-cabecera-pie: #000000;
    --color-hover-enlaces-header-pie: #6bdec8;
    --color-enlace-textos: #942C0B;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.contenedor-main {
    min-width: 960px;
}

.body-index {
    height: 100vh;
    background-image: url("../img/home-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.index-header {
    margin-top: 1.2rem;
}

.index-header__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 3.5rem;
}

.index-header__lista a {
    color: #ffffff;
    transition: 0.5 ease;
}

.index-main {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.index-main__titulo {
    font-weight: 700;
    font-size: 8rem;
    letter-spacing: -0.7rem;
}

.index-main__grupo {
    text-align: center;
}

.index-main__parrafo {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.index-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: .5rem;
    margin-bottom: 1.2rem;
}

.index-footer__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.index-footer a,
.footer-ceramica-cursos-formulario__enlace {
    color: #ffffff;
    transition: 0.5ms ease;
}

.body-index a:hover,
.footer-ceramica-cursos-formulario__enlace:hover {
    color: var(--color-hover-enlaces-header-pie);
}

/*hasta aqui el indice */



.ceramica-header,
.cursos-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: var(--color-fondos-cabecera-pie);
}

.ceramica-header__titulo,
.cursos-header__titulo {
    color: #ffffff;
    letter-spacing: -0.1rem;
    font-size: 3rem;
}

.ceramica-header__lista,
.cursos-header__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 3.5rem;

}

.ceramica-header a,
.cursos-header a {
    color: #ffffff;
}

.ceramica-header a:hover,
.cursos-header a:hover {
    color: var(--color-hover-enlaces-header-pie);
}

.ceramica-header__figure,
.cursos-header__figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ceramica-header__img,
.cursos-header__img {
    width: 4rem;
}

#ceramica-header__lista__activo,
#cursos-header__lista__activo {
    border-bottom: 2px solid #ffffff;
    padding-bottom: .8rem;
}

/*que es la cerámica*/
.body-ceramica {
    min-width: 960px;
}

.ceramica-main__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}

.ceramica-main__intro__figure iframe {
    width: 37.5rem;
    height: 18.75rem;

}

.ceramica-main {
    margin: 2rem 0;
}

.ceramica-main__intro h1 {
    font-size: 2rem;
}

.ceramica-main__intro__figure figcaption {
    font-size: 0.8rem;
}

.ceramica-main__articulo {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.ceramica-main__section__titulo {
    padding-bottom: .6rem;
    border-bottom: 1px solid black;
}

.ceramica-main__section {
    display: grid;
    gap: 1rem;
}

.footer-ceramica-cursos-formulario {

    background-color: #000000;

    height: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

.footer-ceramica-cursos-formulario__lista {

    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
}

.footer-ceramica-cursos-formulario__creditos {
    font-size: 0.8rem;
    width: 65%;
    margin: 0 auto;
    color: #ffffff;
}

.ceramica-main__section__lista-tecnica-material__referencia {
    font-size: 0.8rem;
}

.ceramica-main__section__lista-tecnica-material__referencia a {
    color: var(--color-enlace-textos);
    border-bottom: 1px dotted var(--color-enlace-textos);
}

.ceramica-main__section__lista-tecnica-material__referencia a:hover {
    border-bottom: 1px solid var(--color-enlace-textos);
}

.ceramica-main__section__lista-utensilios {
    margin-left: 3rem;
    display: grid;
    gap: 0.5rem;


}

.ceramica-main__section__lista-utensilios li {
    list-style-type: square;
}

.ceramica-main__section__lista-tecnica-material {
    display: grid;

    margin-left: 3rem;
}

.ceramica-main__section__lista-tecnica-material dt {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.ceramica-main__section__lista-tecnica-material dd {
    margin-left: 1.9rem;
    margin-bottom: 0.6rem;

}

/*hasta aquí cerámica */